body {
    margin: 0;
}

header {
    background-color: Blue;
    color: white;
}

header h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    display: flex;
}

.navbar-sm {
    display: none;
    visibility: hidden;
}

.navbar,
.navbar-sm {
    background-color: lightsteelblue;
}

.navbar {
    width: 200px;
    min-width: 200px;
}

.navbar ul,
.navbar-sm ul {
    list-style: none;
    padding-left: 0;
}

.navbar li,
.navbar-sm li {
    text-align: center;
    border: 1px solid black;
    margin: 5px;
    background-color: gray;
    border-radius: 10px;
}

.navbar li:hover {
    background-color: rgb(36, 89, 196);
}

.navbar a,
.navbar-sm a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar a {
    font-size: 1.5em;
    line-height: 2.0em;
}

.content {
    margin: 5px;
}

.maxSize {
    max-width: 300px;
}

@media screen and (max-width: 900px) {
    body {
        background-color: red;
        color: white;    
    }
    
    .container {
        display: block;
    }

    .maxSize {
        max-width: 100px;
    }

    .navbar {
        visibility: hidden;
        display: none;
    }

    .navbar-sm {
        display: block;
        visibility: visible;
    }

    .navbar-sm ul {
        margin: 0;
    }

    .navbar-sm li {
        display: inline-block;
        padding: 10px 20px;
    }

    .content {
        display: initial;
    }
}

@media screen and (max-width: 600px) {
    body {
        background-color: black;
        color: white;    
    }
    
    .container {
        display: block;
    }

    .maxSize {
        max-width: 100px;
    }

    .navbar {
        visibility: hidden;
        display: none;
    }

    .navbar-sm {
        display: block;
        visibility: visible;
    }

    .navbar-sm ul {
        margin: 0;
    }

    .navbar-sm li {
        display: inline-block;
        padding: 10px 20px;
    }

    .content {
        display: initial;
    }
}